.header{
    height:60px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
         top: 0px;
         left: 0px;
         right: 0px;
         background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(225, 225, 225);
    z-index: 100;
} 
.left{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.middle{
     
    flex: 1;
    margin-left: 50px;
    margin-right: 25px;
    width: 1000px;
    max-width: 1000px;
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
       ;
         
}
.search{
    width: 350px;
     height: 37px;
     padding-left: 14px;
     box-shadow: inset 1px 1px 3px   rgb(0, 0,0 ,0.1px);
     border-color: rgb(183, 181, 181);
     border-width: 1px; 
     
}
.search:active{
    border-color: rgb(104, 104, 231);
}
.search::placeholder{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.right{
    width: 220px;
     
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
}
.bell{
    position: relative;
    top: 18px;
    
}
.bell_no{
    position: absolute;
    background-color: rgb(199, 3, 3);
    color: white;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 19px; 
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 11px;
}